.content {
  width: calc(100% - 296px);
  margin-left: auto;
}

.list-group-item.active {
  background-color: $gray-100;
  border-color: $gray-400;
  color: $gray-900;
}

.assignment-list {
  width: 34%;
}

.assignment-detail {
  width: 66%;
}
